.flows.json.backup
[{"id":"9350e4e7.c937c8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2ed056e3.dd8b5a","type":"inject","z":"9350e4e7.c937c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":220,"y":80,"wires":[["95ca767f.4e48a8"]]},{"id":"84687c74.4cb8f","type":"debug","z":"9350e4e7.c937c8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":140,"wires":[]},{"id":"95ca767f.4e48a8","type":"function","z":"9350e4e7.c937c8","name":"Hello Cool","func":"console.log(\"Hi there\");\nmsg.payload = {\n    \"masa\": new Date(),\n    \"message\": \"this is cool\" \n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":180,"wires":[["84687c74.4cb8f","447b3232.2ab72c"]]},{"id":"d8912f3e.e1c32","type":"comment","z":"9350e4e7.c937c8","name":"Testing Pvc","info":"","x":170,"y":180,"wires":[]},{"id":"b4c89e13.0f514","type":"http in","z":"9350e4e7.c937c8","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":170,"y":280,"wires":[["95ca767f.4e48a8"]]},{"id":"447b3232.2ab72c","type":"http response","z":"9350e4e7.c937c8","name":"","statusCode":"","headers":{},"x":660,"y":280,"wires":[]}]